.tela-inicial{
    align-items: flex-start ;
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6136aea879196f7985bdd4ed/releases/6136aebdacb07f15328e9e4d/img/imagem-de-fundo-@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: 30px 20px;
}

.images-inicial{
    display: flex;
}

.logo-circular{
    display: inline-block;
    height: 292px;
    width: 302px;
}

.subtitulo{
    height: 80px;
  width: 938px;
}

.butons{
    background-color: #d48282;
    cursor: pointer;
    height: 20rem;
    width: 40rem;
    border-radius: 30px;
    text
}